{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container">
    <!-- main content of about page -->
    <h1 class="mt-4 text-primary">
        About Us
    </h1>
    <p class="div-mb">
        Examia is the best online exam platfornm for the students of Engineering.
        Learn more about the team maintaining Examia, please follow on the instagram
    </p>
    <h1 class="text-primary"> Overview of the site</h1>
    <div>
        <p>
        <p>Online Examination System is a technology-driven way to simplify examination activities like defining exam
            patterns with question banks, defining exam timer, objective/ subjective question sections, conducting exams
            using the computer or mobile devices in a paperless manner.</p>

        <p>Online Examination System is a cost-effective, scalable way to convert traditional pen and paper-based exams
            to online and paperless mode.</p>

        <p>Candidates can appear for the exam using any desktop, laptop, or mobile device with a browser. Exam results
            can be generated instantly for the objective type of questions.</p>

        <p>It can simplify overall examination management and result in generation activity.</p>
        </p>
    </div>
    <h1 class="text-primary"> Brand Guidlines </h1>
    <div>
        <p> The Documatation of the site is reserved to site owner
        </p>
    </div>
    <div class='bd-content'>
        <p>
            Have a need for Examia brand resources? Great! We have only a few guidelines we follow, and in turn ask you
            to follow as well.
        </p>
    </div>
    <h1 class="text-primary">
        Team Members of Examia
    </h1>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Team Members </h6>
        <div class="d-flex text-muted pt-3">
            <img src="/static/jabbar.jpeg" width="55px" height=55px class="rounded-circle">

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Jabbar Shaikh </strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Group Member of Examia </span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <img src="/static/hrushikesh.jpeg " width="55px" height="55px" alt="" class="rounded-circle">

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Hrushikesh Gaware </strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Group member of Examia </span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">

            <img src="/static/pandya.jpeg" width="55px" height="55px" alt="" class="rounded-circle">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Pranay Patil </strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Group Member od Examia </span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">

            <img src="/static/more.jpeg" width="55px" height="55px" alt="" class="rounded-circle">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Pranay more </strong>
                    <a href="#">Follow</a>
                </div>
                <span class="d-block">Group Member od Examia </span>
            </div>
        </div>




    </div>
</div>

{% endblock body %}