{% extends 'base.html' %}

{% block title %}Chemistry{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="container-xl d-flex flex-column">
        <div class="title my-4 fs-2"><strong>Chemistry</strong></div>
        <div class="content">
            <p>
                <strong class="fs-4">Class 11</strong> Chemistry covers some of the basic yet important concepts, which help students to understand
                chemistry more clearly. Moreover, the book has <strong>14 chapters</strong> which help students in grasping chemistry
                easily.
                <strong>Chapter 1</strong> teaches about some of the basic concepts of chemistry such as atomic and molecular masses, the
                importance of chemistry, and some others. <strong>Chapter 2</strong> explains the structure of the atom and subatomic
                particles. <strong>Chapter 3</strong> describes the classification of elements and periodicity in properties of elements,
                and
                s, p, d, f shells, and more. <strong>Chapter 4</strong> teaches about molecular structure and chemical bonding. <strong>Chapter 5</strong>
                teaches states of matter like partial pressure, Gas laws, etc. <strong>Chapter 6</strong> defines thermodynamics and
                related
                concepts. <strong>Chapter 7</strong> is about equilibrium such as ionic equilibrium, equilibrium constant, etc. <strong>Chapter 8</strong>
                teaches the redox reaction that is oxidation and reduction reaction. <strong>Chapter 9</strong> gives some information
                about
                hydrogen, its properties, uses, compounds, hydrides, and some more related topics. <strong>Chapter 10</strong> depicts
                the
                s-blocks elements what are they and different things and properties relating to them. <strong>Chapter 11</strong> is
                about
                p-block elements, characteristics, and classification. <strong>Chapter 12</strong> relates to organic chemistry- some of
                its
                basic principles and techniques. <strong>Chapter 13</strong> explains hydrocarbons, its classification, alkynes, alkanes,
                etc. Lastly, <strong>chapter 14</strong> teaches about environmental chemistry, which means the entire chemical compounds
                that we can find in nature.
            </p>
            
            <p>Download <strong class="text-danger">class 11 syllabus</strong> of Chemistry from clicking below</p>
            <a href="/static/CBSE Class 11 Syllabus 2020 21 Chemistry.pdf" download="class 11 syllabus">
                <button type="button" class="btn btn-outline-success mb-2">Download</button></a>

            <p>
                <strong class="fs-4">Class 12</strong> chemistry will take you deep into the study of matter and its related properties. The first
                chapter
                is <strong>The Solid State</strong> where students will learn about the solid state of matter in detail. In <strong>the Solutions</strong>
                chapter, students will learn all about this homogenous mixture. <strong>Electrochemistry</strong> chapter familiarizes
                students with this branch of physical chemistry that deals with the relationship between electricity and
                chemical change. Furthermore, the <strong>Chemical Kinetics</strong> chapter will teach you topics like the rate of a
                chemical reaction, factors influencing the rate, pseudo-first-order reaction, etc. <strong>Surface Chemistry</strong> is
                another chapter here and it revolves around this chemical phenomenon which takes place at the interface
                of
                two surfaces. <strong>General Principles and Processes of Isolation of Elements</strong> revolves around metals and
                metallurgy. <strong>The p-Block Elements</strong> chapter, as the name suggests, is all about p-block elements. <strong>The d and
                f
                Block Elements</strong> chapter is all about d and f block elements. In <strong>Coordination Compounds</strong> chapter, students
                will
                learn about these compounds which contain coordinate bonds. <strong>Haloalkanes and Haloarenes</strong> chapter, as the
                name
                suggests, revolves around Haloalkanes and Haloarenes. <strong>Alcohols, Phenols, and Ethers</strong> chapter discusses
                these
                three substances. <strong>Aldehydes, Ketones, and Carboxylic Acids</strong> chapter discusses these three substances.
                Furthermore, <strong>Amines</strong> chapter is all amines which are organic compounds. In <strong>Biomolecules</strong> chapter,
                students
                will learn about these molecules which are produced by living organisms. Moreover, <strong>Polymers</strong> chapter
                teaches
                you about this chemical compound in detail. Finally, <strong>Chemistry in Everyday life</strong> is about the application
                of
                chemicals in day to day life.
            </p>

            <p>Download <strong class="text-danger">class 12 syllabus</strong> of Chemistry from clicking below</p>
            <a href="/static/CBSE Class 12 Syllabus 2020 21 Chemistry.pdf" download="class 11 syllabus">
                <button type="button" class="btn btn-outline-success mb-5">Download</button></a>
        </div>
    </div>
</div>
{% endblock body %}