{% extends 'base.html' %}

{% block title %}Relations and Functions{% endblock title %}

{% block body %}

<div class="fs-2 text-center fw-bold">Physics Practice Questions and Answers – Electric Charges and Field</div>

<div class="container">

    <p class="mt-3">
        1. Why is gold used in the Gold-leaf electroscope?<br>
        a) Gold is easily available in nature<br>
        b) Gold is malleable<br>
        c) Gold is conducting in nature<br>
        d) Gold is cheap<br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Answer: b<br>
            Explanation: Though gold is a costly metal it is used in electroscope because of the property malleability.
            This means very thin and light sheets can be formed from gold simply by hammering or rolling and hence the
            deflection of the light gold plates increases.<br>
        </div>
    </div>

</div>

{% endblock body %}