{% extends 'base.html' %}

{% block title %}Physical world{% endblock title %}

{% block body %}

<div class="fs-2 text-center fw-bold">Mathematics Practice Questions and Answers – Physical World</div>

<div class="container">

    <p class="mt-3">
        1. The word Science originates from the Latin verb Scientia meaning<br>
        (a) to know<br>
        (b) to see<br>
        (c) to experience<br>
        (d) to observe<br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Answer: a<br>
            Explanation: to know<br>
        </div>
    </div>

    <p class="mt-3">
        2. Atomic and molecular phenomena are dealt with by<br>
        (a) Newtonian Mechanics<br>
        (b) fluid Mechanics<br>
        (c) applied Mechanics<br>
        (d) Quantum Mechanics <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans2"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans2">
        <div class="card card-body">
            Answer: (d) <br>
            Quantum Mechanics <br>
        </div>
    </div>
    <p class="mt-3">
        3. Wave picture of light failed to explain.<br>
        (a) the photoelectric effect<br>
        (b) polarization of light<br>
        (c) diffraction of light<br>
        (d) interference of light</p>
    <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans3"
        aria-expanded="false" aria-controls="collapseExample">
        View Answer
    </button>
    </p>

    <div class="collapse" id="ans3">
        <div class="card card-body">
            Answer: (a) <br>
            the photoelectric effect <br>
        </div>
    </div>
    <p class="mt-3">
        4. Heliocentric theory proposed by Nicolas Copernicus was<br>
        (a) replaced by circular orbits to fit the data better<br>
        (b) replaced by elliptical orbits to fit the data better<br>
        (c) replaced by elliptical orbits to fit the taste of new rulers of Italy<br>
        (d) replaced by parabolic orbits to fit the data better</p>
    <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans4"
        aria-expanded="false" aria-controls="collapseExample">
        View Answer
    </button>
    </p>

    <div class="collapse" id="ans4">
        <div class="card card-body">
            Answer: (b) <br>
            replaced by elliptical orbits to fit the data better <br>
        </div>

    </div>
    <p class="mt-3">
        5. Just as a new experiment may suggest an alternative theoretical model, a theoretical advance may suggest what
        to look for in some for in some experiments. Which of the following experiments can be considered to support
        this claim?<br>
        (a) Davisson and Germer Experiment<br>
        (b) experimental discovery of positron<br>
        (c) scattering of alpha particle or the gold foil experiment<br>
        (d) Michelson Morley experimen <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans5"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans5">
        <div class="card card-body">
            Answer: (b) <br>
            experimental discovery of positron <br>
        </div>
    </div>
    <p class="mt-3">
        6.The scientific method is<br>
        (a) a prescribed method for investigating phenomena, acquiring new knowledge…<br>
        (b) A procedure for proposing new hypothesis<br>
        (c) a body of techniques for investigating phenomena, acquiring new knowledge…<br>
        (d) A method for proposing new theories. <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans6"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans6">
        <div class="card card-body">
            Answer: (c) <br>
            a body of techniques for investigating phenomena, acquiring new knowledge <br>
        </div>
    </div>
    <p class="mt-3">
        7. A scientific theory<br>
        (a) cannot be changed but can be reformulated<br>
        (b) is fixed once and for all because it is logical<br>
        (c) is changed to suit new fashion among scientists<br>
        (d) can be revised if required to fit new phenomenon or data <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans7"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans7">
        <div class="card card-body">
            Answer: (d) <br>
            can be revised if required to fit new phenomenon or data <br>
        </div>
    </div>
    <p class="mt-3">
        8. Which of the following is a possible first step in applying the scientific method<br>
        (a) Conducting tests<br>
        (b) Formulating a hypothesis<br>
        (c) Formulation of a question<br>
        (d) Building a theory<br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans8"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans8">
        <div class="card card-body">
            Answer: (c) <br>
            Formulation of a question <br>
        </div>
    </div>
    <p class="mt-3">
        9. Which of the following is a possible final step in applying the scientific method<br>
        (a) Formulating a hypothesis<br>
        (b) Building a theory<br>
        (c) Analysis of test results<br>
        (d) Formulation of a question <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans9"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans9">
        <div class="card card-body">
            Answer: (c) <br>
            Analysis of test results <br>
        </div>
    </div>
    <p class="mt-3">
        10. Physics is a<br>
        (a) Applied Science<br>
        (b) Mathematical Science<br>
        (c) Engineering Science<br>
        (d) Natural Science <br>
        <button class="btn btn-outline-danger mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#ans10"
            aria-expanded="false" aria-controls="collapseExample">
            View Answer
        </button>
    </p>

    <div class="collapse" id="ans10">
        <div class="card card-body">
            Answer: (d) <br>
            Natural Science<br>
        </div>
    </div>

</div>

{% endblock body %}