{% extends 'base.html' %}

{% block title %}Practice | Class 11{% endblock title %}

{% block body %}

<div class="text-primary fs-2 fw-bold mx-4 my-2 font-weight-bold">Class 11</div>

<div class="text-danger fw-bold text-center fs-3 bg-dark">Click on the topic to practice its questions</div>

<div class="fs-4 text-center mt-4">Mathematics</div>
<div class="container mt-2">
    <div class="row bg-dark text-light text-center">
        <div class="col border border-warning">
            Chapter Number
        </div>
        <div class="col border border-warning">
            Chapter Name
        </div>
        <div class="col border border-warning">
            Number of questions
        </div>
    </div>

    <a href="/class11-sets" class="text-decoration-none">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                1
            </div>
            <div class="col border border-warning text-center">
                Sets
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                2
            </div>
            <div class="col border border-warning text-center">
                Relations and functions
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                3
            </div>
            <div class="col border border-warning text-center">
                Trigonometric functions
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                4
            </div>
            <div class="col border border-warning text-center">
                Principles of mathematical induction
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                5
            </div>
            <div class="col border border-warning text-center">
                Complex numbers and Quadratic equations
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>
</div>


<div class="fs-4 text-center mt-4">Physics</div>
<div class="container mt-2">
    <div class="row bg-dark text-light text-center">
        <div class="col border border-warning">
            Chapter Number
        </div>
        <div class="col border border-warning">
            Chapter Name
        </div>
        <div class="col border border-warning">
            Number of questions
        </div>
    </div>

    <a href="/class11-physicalworld" class="text-decoration-none">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                1
            </div>
            <div class="col border border-warning text-center">
                Physical world
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                2
            </div>
            <div class="col border border-warning text-center">
                Units and Measurement
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                3
            </div>
            <div class="col border border-warning text-center">
                Motion in a straight line
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                4
            </div>
            <div class="col border border-warning text-center">
                Motion in a plane 
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>

    <a href="#" class="text-decoration-none text-dark">
        <div class="row text-white-50 bg-dark">
            <div class="col border border-warning text-center">
                5
            </div>
            <div class="col border border-warning text-center">
                Law of Motion
            </div>
            <div class="col border border-warning text-center">
                50
            </div>
        </div>
    </a>
</div>

{% endblock body %}