{% extends 'base.html' %}

{% block title %}CS I{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="container-xl d-flex flex-column">
        <div class="title my-4 fs-2"><strong>Computer Science I</strong></div>
        <div class="content">
            <p>C is a procedural programming language. It was initially <strong>developed by Dennis Ritchie</strong> as
                a system
                programming
                language to write operating system. The main features of C language include low-level access to memory,
                simple
                set of keywords, and clean style, these features make C language suitable for system programming like
                operating
                system or compiler development.
            </p>

            <p>
                C was initially used for system development work, particularly the programs that make-up the operating
                system. C was adopted as a system development language because it produces code that runs nearly
                <strong>as fast
                    as</strong>
                the code written in <strong>assembly language</strong>. Some examples of the use of C might be −
                <li>Operating Systems</li>
                <li>Language Compilers</li>
                <li>Assemblers</li>
                <li>Text Editors</li>
                <li>Print Spoolers</li>
                <li>Network Drivers</li>
                <li>Modern Programs</li>
                <li>Databases</li>
                <li>Language Interpreters</li>
                <li>Utilities</li>
            </p>

            <p>Download <strong class="text-danger">syllabus and notes</strong> of C programming from clicking below</p>
            <a href="/static/C Programming.pdf" download="class 11 and 12 syllabus">
                <button type="button" class="btn btn-outline-success mb-5">Download</button></a>
        </div>
    </div>
</div>
{% endblock body %}