{% extends 'base.html' %}

{% block title %}IT{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="container-xl d-flex flex-column">
        <div class="title my-4 fs-2"><strong>Information Technology</strong></div>
        <div class="content">

            <p>
                Information Technology (IT) is the <strong>use of computers and software to manage information</strong>. It's the career
                discipline responsible for storing information, protecting information, processing the information,
                transmitting the information as necessary, and later retrieving information as necessary. Information
                technologies are significantly changing lives. New technologies, devices, machines, and services that
                make
                dealing with more information than ever before possible surround everyone. Information networks and
                services
                are available that can connect everyone and provide new opportunities for productivity, learning, and
                entertainment. The technologies include accessing information through computers, the Internet,
                telephones,
                pagers, cellular phones, television sets, and public electronic kiosks.
            </p>

            <p>
                CBSE Class 12 Information Technology 2020-21: Information technology refers to anything related to
                computing
                technology. The Internet, for example, comes under the umbrella term IT. So does computer hardware,
                software, and networking.

                Information Technology is an important subject for CBSE Class 12. With a better grasp of the concepts on
                every topic of your 12th Information Technology syllabus, you can build an in-depth knowledge of the
                subject. This will also help you to improve your performance in the Class 12th Board Exams.
            </p>

            <p>Download <strong class="text-danger">class 11 and 12 syllabus</strong> of Information Technology from clicking below</p>
            <a href="/static/Information Technonology.pdf" download="class 11 and 12 syllabus">
                <button type="button" class="btn btn-outline-success mb-5">Download</button></a>
        </div>
    </div>
</div>

{% endblock body %}