{% extends 'base.html' %}

{% block title %}Maths{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class="container-xl d-flex flex-column">
        <div class="title my-4 fs-2"><strong>Mathematics</strong></div>
        <div class="content">
            <p><strong class="fs-4">Class 11</strong> Maths is an introduction to advance math. Further, it is quite
                different from the maths of class
                9
                and
                10. <strong>Chapter 1</strong> is about sets, which teaches intersection and union, types, and operation
                of
                sets. <strong>Chapter 2</strong>
                explains relations and functions such as evaluating combining functions, etc. <strong>Chapter 3</strong>
                describes
                trigonometric
                functions that relate to sin, cos, tan, etc. <strong>Chapter 4</strong> defines the principles of
                mathematical induction.
                <strong>Chapter
                    5</strong> describes complex numbers and quadratic equations. <strong>Chapter 6 </strong> teaches
                about
                linear inequalities such as
                one-step, two-step, multi-step inequalities. <strong>Chapter 7</strong> explains permutations and
                combination and fundamental
                principles of counting. <strong>Chapter 8</strong> teaches the binomial theorem for positive integral
                indices. <strong>Chapter 9</strong>
                defines
                the sequence and series. Also, it teaches basic sigma notation, finite geometric series, and many other
                concepts. <strong>Chapter 10</strong> is about straight lines that teach many topics such as horizontal
                and
                vertical lines,
                equations of parallel and perpendicular lines, x-intercepts and y-intercepts, etc. <strong>Chapter
                    11</strong> describes
                conic
                sections, the equation of an ellipse, features of a circle, foci of an ellipse, standard and expanded
                equation
                of a circle, and much more. <strong>Chapter 12</strong> gives an introduction to three-dimensional
                geometry,
                its role, and
                measures. <strong>Chapter 13</strong> talks about limits and derivatives their features and many other
                related concepts.
                <strong>Chapter
                    14</strong> teaches mathematical reasoning. <strong>Chapter 15</strong> is about statistics but not
                general statistics. Lastly,
                chapter 16
                is about probability, which is the possibility of something.
            </p>
            <p>Download <strong class="text-danger">class 11 syllabus</strong> of Mathematics from clicking below</p>
            <a href="/static/CBSE Class 11 Syllabus Mathematics 2020-21.pdf" download="class 11 syllabus">
                <button type="button" class="btn btn-outline-success mb-2">Download</button></a>

            <p>
                <strong class="fs-4">Class 12</strong> Maths aims to solidify students in the field of Maths. There
                are
                <strong>13 chapters</strong> in Maths of class
                12.
                The first chapter is <strong>Relations and Functions</strong> which involves the concept of relation
                and
                functions,
                domain,
                co-domain, range, etc. <strong>Inverse Trigonometric Functions</strong> chapter deals with
                restrictions
                on domains and
                trigonometric functions ranges that facilitate visibility of their inverses. Furthermore, the
                <strong>Matrix</strong>
                chapter
                takes you deeper into the concept of matrix as well as matrix algebra. In the
                <strong>Determinants</strong> chapter, you
                will
                learn about determinants which are up to order three only with real entries. <strong>Continuity and
                    Differentiability</strong> is the fifth chapter which deals with important concepts of
                continuity,
                differentiability,
                and the relations existing between them. In the <strong>Application of Derivatives</strong> chapter,
                you
                will go through
                the
                derivative of composite functions, exponential functions, implicit functions, logarithmic functions,
                and
                inverse trigonometric functions. Moreover, the <strong>Integrals</strong> chapter revolves around
                the
                concept of
                Integral.
                <strong>Application of Integrals</strong> is another chapter here and it will teach you about the
                specific application of
                integrals. <strong>Differential Equations</strong> chapter will teach you the basic concepts of
                differential equations.
                <strong>Vector Algebra</strong> revolves around the concept of vectors. <strong>Three Dimensional
                    geometry</strong> is also included in
                maths
                of class 12 which deals with the study of direction cosines and direction ratios related to a line.
                This
                chapter also has equations of lines and planes. <strong>Linear Programming</strong> teaches linear
                programming by
                graphical
                method only. Finally, <strong>Probability</strong> chapter deals with the concepts of probability
                and
                its related
                aspects.
            </p>

            <p>Download <strong class="text-danger">class 12 syllabus</strong> of Mathematics from clicking below</p>
            <a href="/static/CBSE Class 12 Syllabus Mathematics 2020 21.pdf" download="class 12 syllabus">
            <button type="button"  class="btn btn-outline-success mb-5">Download</button></a>

        </div>
    </div>
</div>

{% endblock body %}