{% extends 'base.html' %}

{% block title %}Physics{% endblock title %}


{% block body %}
<div class="container-fluid">
    <div class="container-xl d-flex flex-column">
        <div class="title my-4 fs-2"><strong>Physics</strong></div>
        <div class="content">
            <p>
                <strong class="fs-4">Class 11</strong> Physics will help understand the fundamentals of the subject in
                an efficient manner. Physics of
                class 11 deals with a total of <strong>15 chapters</strong>. The first chapter here is the
                <strong>physical world</strong> that deals with
                topics related to various physical forces. The next chapter here is <strong>Units and
                    Measurement</strong> that deals
                with
                unit, base units, system of units, derived units, etc. <strong>Motion in a straight line</strong>
                explores Kinematics
                further. Furthermore, <strong>Motion in a plane</strong> will teach you about the measurement of motion
                in a plane.
                Moreover,
                <strong>the Law of Motion</strong> chapter deals with the motion of a particle in space. <strong>Work,
                    Energy, and Power</strong> chapter
                explores the relation between these three quantities. <strong>Systems of Particles and Rotational
                    Motion</strong>
                explores
                the mathematical and theoretical part of these concepts. <strong>Gravitation</strong> chapter deals with
                the concept of
                gravitation in a detailed manner. <strong>Mechanical Properties of Solids</strong> chapter will teach
                you about the
                various
                physical properties of solids. Another chapter <strong>Mechanical Properties of Fluids</strong> will
                teach you about the
                various physical properties of gases and liquids. <strong>Thermal Properties of Matter</strong> is all
                about heat and its
                measurement. <strong>Thermodynamics</strong> is a macroscopic topic revolving around heat and
                temperature. <strong>Kinetic Theory</strong>
                explores the behaviour of gases. <strong>Oscillations</strong> chapter will take you in the depths of
                this concept.
                Finally,
                the <strong>Waves</strong> chapter deals with the conceptual study of waves.
            </p>

            <p>Download <strong class="text-danger">class 11 syllabus</strong> of Physics from clicking below</p>
            <a href="/static/CBSE Class 11 Syllabus Physics 2020-21.pdf" download="class 11 syllabus">
                <button type="button" class="btn btn-outline-success mb-2">Download</button></a>

            <p>
                <strong class="fs-4">Class 12</strong> Physics explores deeply the various concepts of Physics of class
                12 deals with a total of <strong>15
                    chapters</strong>. <strong>Electric Charges and Field</strong> is the first chapter here that is
                concerned with electric charges,
                fields, and functional areas. <strong>Electrostatic Potential and Capacitance</strong> chapter lets you
                understand the
                different electric fields that have varying electrostatic potential. <strong>Current
                    Electricity</strong> is the next
                chapter
                where students will get an in-depth understanding of the electric current. Furthermore, <strong>Moving
                    Charges
                    and
                    Magnetism</strong> chapter explores the various aspects of the magnetic force. The fifth chapter is
                <strong>Magnetism and
                    Matter</strong> takes you deep in the world of magnetism and matter. <strong>Electromagnetic
                    Induction</strong> chapter lets you
                move
                further deep in the study of magnetism and you learn about electromagnetic induction. Moreover,
                <strong>Alternating
                    Current</strong> is a small chapter that lets you understand AC voltage and AC circuit in detail.
                <strong>Electromagnetic
                    Waves</strong> chapter deals with the electromagnetic spectrum, displacement current, and
                electromagnetic Waves.
                <strong>Ray
                    Optics and Optical Instruments</strong> is all about reflection and various optical instruments that
                are used.
                The
                tenth chapter is <strong>wave Optics</strong> which familiarizes you with the various properties of wave
                optics. Another
                chapter is <strong>Dual Nature of Radiation and Matter</strong> where students will information about
                the nature of
                radiation
                and its respective properties. <strong>Atoms</strong> chapter provides you with a detailed understanding
                of this
                fundamental
                unit to all items around us. Another chapter is <strong>Nuclei</strong> which will deal with an atom’s
                nucleus, its
                properties, and its energy. <strong>Semiconductor Electronics Materials Devices and Simple
                    Circuits</strong> will make
                you
                aware of the difference between intrinsic and extrinsic semiconductors. Finally, <strong>the
                    Communications
                    Systems</strong>
                chapter explores deeply the communication system and its basic elements.
            </p>

            <p>Download <strong class="text-danger">class 12 syllabus</strong> of Physics from clicking below</p>
            <a href="/static/CBSE Class 12 Syllabus Physics 2020-21.pdf" download="class 12 syllabus">
                <button type="button" class="btn btn-outline-success mb-5">Download</button></a>
        </div>
    </div>
</div>

{% endblock body %}